.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 5px 0 lightgray;
  background-color: white;
  height: 11em;
  min-width: fit-content;
  max-width: 11em;
  img {
    aspect-ratio: fixed;
    padding-top: 1em;
    align-self: center;
    width: 9em;
  }
  margin: 2em;
  cursor: pointer;

  .product-name {
    align-items: flex-end;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 100;
  }
}

.product:active {
  box-shadow: none;
  transform: translateY(5px);
}
