
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0 5px 0 lightgray;
    background-color: white;
    img {
        padding: 10px;
        width: 150px;
    }
    margin: 5px;
    cursor: pointer;

    .product-name {
        align-items: flex-end;
        text-align: center;
        padding: 2px;
        font-family: Verdana, sans-serif;
        font-weight: 100;
    }
}

.product:active {
    box-shadow: none;
    transform: translateY(5px);
}