body {
  display: flex;
  flex-direction: column;
}

.editHeader {
  background-color: #c0dead;
  border-radius: 10px;
  height: 4em;
  width: 95vw;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  h1 {
    margin: 20px;
    font-size: 2em;
  }
}

form {
  height: 25em;
}

.addButton {
  margin-top: 4em;
  margin-left: 1em;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-editor {
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.product-list {
  display: flex;
  // flex-flow: row-wrap;
  justify-content: center;
  height: 100%;
  overflow: auto;
  width: 65vw;
  ul {
    display: flex;
    flex-flow: row wrap;
  }
  .product {
    display: flex;
    align-items: center;
    width: 25%;
  }

  h3 {
    margin: 0.5em;
  }

  p {
    margin: 0.5em;
  }

  button {
    margin: 0.5em;
  }
}

