body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.heading {
  background-color: #fbc59d;
  border-radius: 10px;
  width: 95vw;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details-img {
  aspect-ratio: fixed;
  width: 12em;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
