.registerHeader {
  background-color: #c0dead;
  border-radius: 10px;
  height: 70px;
  width: 95vw;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  h1 {
    margin: 20px;
    padding: 0;
    font-size: 3.4vh;
    max-height: 100%;
  }

  p {
    margin-right: 20px;
    margin-left: 150px;
    padding: 0;
  }
}
