.start-div {
    background-color: rgb(245, 246, 248);
    border: 1px solid grey;
    height: 80%;
}
.start-button {
    padding: 4px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 5px;
    background-color: rgb(245, 246, 248);
    color: navy;
}

.setup-button {
    padding: 4px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 5px;
    background-color: rgb(245, 246, 248);
    color: navy;
}
