.totalsBar {
    display: flex;
    flex-direction: row;
    background-color: #C0DEAD;
    border-radius: 10px;
    //margin: 200px;
    height: 70px;
    width: 75vw;

    h1 {
        margin-right: 70px;
        margin-left: 20px;
    }
}