.totalsBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C0DEAD;
    border-radius: 10px;
    //margin: 200px;
    height: 70px;
    width: 80vw;
    margin-top: 45px;

    h1 {
        margin: 20px;
        margin-right: 50px;
        padding: 0;
        font-size: 4vh;
        max-height: 100%;
    }
}

