
.message {
    border-radius: 10px;
    background-color: white;
    width: 90%;
}

.finished_h1 {
    font-size: 85px;
    color: #97af88;
    padding: 10px;
    margin: 30px;
}

.finished_h2 {
    font-size: 70px;
    padding: 10px;
    margin: 30px;
    font-weight: 100;
}

button {
    margin: 30px;
}