.denomination-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .coins {
    border-radius: 50%;
    border: 6px solid white;
  }

  img {
    border-radius: 20px;
    box-shadow: 0 5px 0 lightgray;
    border: 6px solid white;
    margin: 5px;
    height: 200px;
    width: auto;
    object-fit: cover; /* Maintain aspect ratio while covering the fixed height */
  }

  h4 {
    font-size: 30px;
  }
}
