body {
  // display: flex;
  // // align-items: center;
  // min-height: 100vh;
  // flex-direction: column;

  // .combinedHeading {
  //   display: flex;
  // }

  .changeHeader {
    background-color: #fbc59d;
    border-radius: 10px;
    width: 95vw;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 20px;
      padding: 0;
    }

    p {
      margin-right: 20px;
      margin-left: 150px;
      padding: 0;
      font-size: 1em;
    }
  }

  // .card {
  //   display: flex;
  //   align-items: center;
  // }

  // .denomination-card {
  //   align-items: center;
  // }
  footer {
    display: flex;
    align-items: center;
  }
}
