body {
  display: flex;
  flex-direction: column;
}

.changeHeader {
  background-color: #fbc59d;
  border-radius: 10px;
  height: 70px;
  width: 80vw;
  margin-top: 7px;
  //   margin-bottom: 1em;
  display: flex;
  align-items: center;

  h1 {
    margin-left: 20px;
  }

  p {
    margin-left: 120px;
    font-size: 20px;
  }
}
